{% extends "blog/base.html" %}
{% block content %}
    {% comment %} {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body" >
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %} {% endcomment %}


<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container">
    <div class="row w-100 justify-content-center">
      <div class="col-md-6">
        <form class="d-flex my-2 my-lg-0" method="GET" action="{% url 'search' %}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name = "query">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>

    {% for post in posts %}
      <div class="card mb-4 shadow-sm">
          <div class="card-body">
              <div class="row">
                  <div class="col-md-2 col-3 text-center">
                      <div class="ratio ratio-1x1">
                          <img class="rounded-circle img-fluid" src="{{ post.author.profile.image.url }}" alt="Profile Image">
                      </div>
                  </div>
                  <div class="col-md-10 col-9">
                      <div class="d-flex justify-content-between align-items-center">
                          <div>
                              <h5 class="card-title mb-1"><a class="text-dark" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5>
                              <small class="text-muted">by <a href="{% url 'user-posts' post.author.username %}" class="text-decoration-none">{{ post.author }}</a></small>
                          </div>
                          <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                      </div>
                      <p class="card-text mt-3">{{ post.content|truncatewords:20 }}</p>
                      <a href="{% url 'post-detail' post.id %}" class="btn btn-primary btn-sm">Read More</a>
                  </div>
              </div>
          </div>
      </div>
    {% endfor %}
    

    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}

{% endblock content %}
